.projects-grid {
	display: grid;

	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	gap: 20px;
	margin: 10px auto;

	grid-column-gap: 10px;
}

.projects-grid div:nth-child(1) {
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
}

.projects-grid div:nth-child(2) {
	grid-row-start: 2;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 3;
}

.projects-grid div:nth-child(2) img {
	max-width: 60%;
	margin: 0 auto;
}

.projects-grid div:nth-child(3) {
	grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 2;
	grid-column-end: 3;
}
